<div class="message-wrapper">
<p id='paragraph'></p>
<div class="message-container">
<%= render @messages %>
</div>
  <%= form_with model: @message  do |f|%>
        <%=f.text_field :message%>
        <%=f.button id: 'button'%>
        <% end %>
        </div>