
<table class="table-auto">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Works</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
<%= render partial: 'friend', collection: @friends %>
  </tbody>
</table>