<div class="container block p-6 max-w-md">
<% if @some %>
  <table class="table-auto">
  <thead>
    <tr>
      <th class="px-4 py-2">E-mail</th>
      <th class="px-4 py-2">Works</th>
      <th class="px-4 py-2">Links</th>
      <th class="px-4 py-2">Chat</th>
    </tr>
  </thead>
  <tbody>
<%= render partial: 'friend', collection: @friends %>
  </tbody>
</table>
<% else %>
No friends! Start following?
<%= link_to 'See all Members', members_path %>
<% end %>
</div>